<div class="form d-flex justify-content-center">
  <div class="form-img">
    <%= image_tag("Eating healthy food-pana.png", :alt => "form img", class:"form-img") %>
  </div>
  <div class="user-form" style="width: 500px;">
    <h2 class="login-text text-center py-2">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-outline mb-4">
        <%= f.label :email, class:"form-label" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
      </div>

      <div class="form-outline mb-4">
        <%= f.label :password, class:"form-label" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mb-4">
          <%= f.check_box :remember_me, class:"form-check-input" %>
          <%= f.label :remember_me, class:"form-check-label" %>
        </div>
      <% end %>
      <div class="header-btns d-flex justify-content-center">
        <%= f.submit "Log in", class:"button-81 mx-2" %>
        <%= render "devise/shared/links" %>
      </div>  
    <% end %>
  </div>
</div>



